* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

p, span, h1, h2, h3, h4, h5, h6, ul, li, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.topbar {
    height: 40px;
}

.carousel {
    background: #FAFAFA;
    position: relative;
}

.carousel img {
    width: 100%;
}

.social-small-label {
    display: inline-block;
    line-height: 40px;
    font-size: 12px;
}
.topbar-social{
    opacity: 0.6;
    border-left: 1px solid #b9c1c8;
}
.social-small-icons {
    box-sizing: border-box;
    margin-top: 5px;
    float: right;
    padding-right: 30%;
}

.carousel-cell {
    width: 100%;
    height: auto;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* cell number */
/* position dots in carousel */
.flickity-page-dots {
    bottom: 0;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

.flickity-enabled:focus .flickity-viewport {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.social {
    background-color: #e8eaeb;
    border-bottom: 1px solid #dce0e4;
}

.footer-wrap {
    background-color: #e8eaeb;
    padding: 30px 0;
    border-top: 1px solid #dce0e4;
    float: left;
}

.footer-wrap {
    font-size: 12px;
}

.footer-wrap .legal {
    padding: 20px 0;
    display: block;
}

input {
    width: 270px;
    line-height: 30px;
    border-radius: 19px;
    border: 1px solid #c3c3c3;
}

#map {
    height: 400px;
    width: 100%;
}

.icons {
    background-image: url('http://www.bodylaser.pt/new/hosting/icons-sprite.png');
    display: inline-block;
    width: 42px;
    height: 42px;
}

.icon-small {
    width: 30px;
    height: 30px;
}

.facebook {
    background-position: 0 0;
    -webkit-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -moz-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -ms-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -o-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
}

.twitter {
    background-position: 208px 0;
    -webkit-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -moz-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -ms-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -o-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
}

.instagram {
    background-position: 166px 0;
    -webkit-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -moz-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -ms-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -o-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
}
.facebook:hover {
    background-position: 0 83px}

.twitter:hover {
    background-position: 208px 83px;
}

.instagram:hover {
    background-position: 166px 83px;
}

.facebook-small {
    background-position: -126px 0;
    width: 26px;
    height: 26px;
    -webkit-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -moz-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -ms-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -o-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
}
.facebook-small:hover{
    background-position: -126px -48px;
}
.twitter-small {
    background-position: -150px 0;
    width: 26px;
    height: 26px;
    -webkit-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -moz-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -ms-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -o-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
}
.twitter-small:hover{
    background-position: -150px -48px;
}
.instagram-small {
    background-position: -174px 0;
    width: 26px;
    height: 26px;
    -webkit-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -moz-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -ms-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    -o-transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
    transition: 0.3s all cubic-bezier(.93,.04,.24,.85);
}
.instagram-small:hover{
    background-position: -174px -48px;
}
.no-padding {
    padding: 0;
}

.topnav ul {
    line-height: 66px;
    padding: 10px 0;
    margin: 0;
}

.divider {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 40px 0;
    color: #9E9E9E;
}

.divider span {
    border-bottom: 1px solid #9E9E9E;
}

.blue-bar {
    background-color: #008cff;
    color: #fff;
    padding: 40px 0;
}

.blue-bar h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
}

.blue-bar span {
    font-weight: 300;
    font-size: 30px;
}

.blue-bar .bold {
    font-weight: 700;
}

.blue-bar .green {
    background-color: #3adb76;
    font-size: 20px;
    display: inline-block;
}

.blue-bar .white {
    color: #fff;
}

.blue-bar .divider {
    font-size: 30px;
    text-align: center;
    margin: 0 0 40px 0;
}

.blue-bar .divider span {
    border-bottom: 1px solid #fff;
}

.brands img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 2%;
    text-align: center;
    opacity: 0.6;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.5s cubic-bezier(.93,.04,.24,.85);
    -moz-transition: all 0.5s cubic-bezier(.93,.04,.24,.85);
    -ms-transition: all 0.5s cubic-bezier(.93,.04,.24,.85);
    -o-transition: all 0.5s cubic-bezier(.93,.04,.24,.85);
    transition: all 0.5s cubic-bezier(.93,.04,.24,.85);

}

.brands img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    margin: 2%;
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform:scale(1);
    transform: scale(1);

}

.topnav ul li {
    margin-left: 6%;
    display: inline-block;
    text-decoration: none;
}

.btn {
    padding: 10px 30px;
    line-height: normal;
    border-radius: 50px;
}

.blue {
    background-color: #008cff;
    color: #fff;
}

.center {
    margin: 0 auto;
}

.logo {
    padding: 15px 0;
}

.full-width {
    width: 100%;
    max-width: 100%;
}