* { box-sizing: border-box; }

body { font-family: 'Roboto', sans-serif; }

p,span,h1,h2,h3,h4,h5,h6,ul,li,body{font-family: 'Roboto', sans-serif;}

.topbar{
    height:70px;
}

.carousel {
    background: #FAFAFA;
    position: relative;
}
.carousel img{
    width:100%;
}
.carousel-cell {
    width: 100%;
    height: auto;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
/* cell number */
/* position dots in carousel */
.flickity-page-dots {
    bottom: 0;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}
.flickity-enabled:focus .flickity-viewport {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.social{
    background-color: #e8eaeb;
    padding:10px;
    border-bottom:1px solid #dce0e4;
}
.no-padding{
    padding:0;
}
.topnav ul li{
    display:inline-block;
    text-decoration: none;

}
.center{
    margin:0 auto;
}
.logo{
    padding:15px 0;
}
.full-width{
    width:100%;
    max-width: 100%;
}